<div class="card w-75 m-auto">
    <div class="card-body">
        <form>
            <div class="form col-md-6">
                <!-- Bloco nome do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Nome</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Bloco profissão do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Profissão</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!-- Bloco numero do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Número Identificador</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Adicionar funcionário</button>
            </div>
        </form>
    </div>
</div>



