<div class="card w-75 m-auto">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="form col-md-6">
                <!-- Bloco nome do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                    <label for="">Nome</label>
                    <input type="text" class="form-control" formControlName="nome"
                        [ngClass]="cssValidInvalid('nome')">
                        <div class="invalid-feedback d-block" 
                        *ngIf="!form.controls['nome'].valid 
                        && (form.controls['nome'].dirty || form.controls['nome'].touched)"> 
                            Nome inválido! 
                        </div> 
                        <div class="valid-feedback d-block" 
                        *ngIf="form.controls['nome'].valid"> 
                            Nome válido! 
                        </div> 
                    </div>
                </div>
               
                <!-- Bloco profissão do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Profissão</label>
                        <input type="text" class="form-control" formControlName="profissao"
                        [ngClass]="cssValidInvalid('profissao')">
                        <div class="invalid-feedback d-block" 
                        *ngIf="!form.controls['profissao'].valid 
                        && (form.controls['profissao'].dirty || form.controls['profissao'].touched)"> 
                            Profissão inválida! 
                        </div> 
                        <div class="valid-feedback d-block" 
                        *ngIf="form.controls['profissao'].valid"> 
                            Profissão válida! 
                        </div> 
                    </div>
                </div>
                <!-- Bloco numero do funcionario -->
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Número Identificador</label>
                        <input type="text" class="form-control" formControlName="id"
                        [ngClass]="cssValidInvalid('id')">
                        <div class="invalid-feedback d-block" 
                        *ngIf="!form.controls['id'].valid 
                        && (form.controls['id'].dirty || form.controls['id'].touched)"> 
                            Id inválido! 
                        </div> 
                        <div class="valid-feedback d-block" 
                        *ngIf="form.controls['id'].valid"> 
                            Id válido! 
                        </div> 
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm" (click)="onSubmit()">
                    Adicionar funcionário</button>
            </div>
        </form>
    </div>
</div>


